//SCSS partial file to store configuration code for the project
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';
}

body {
    position: relative;
}

//variables
$borderRadius: 5px;
$Dark_text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);
$scissors1: hsl(39, 89%, 49%);
$scissors2: hsl(40, 84%, 53%);
$paper1: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);
$rock1: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);
$background-gradient: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));

//dynamic classes
.hide {
    display: none !important;
}
.show {
    display: block;
}