.gamePage {
    /*border: 2px solid magenta;*/
    height: 100vh;
    background: $background-gradient;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .logo-and-score-count {
        border: 2px solid rgba(255, 255, 255, 0.587);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        
        .logo {
            width: 108px;
            height: 66px;
        }
    }
    .score-count {
        /*border: 2px solid magenta;*/
        height: 105px;
        width: 130px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-block: 0.7rem;
        gap: 1px;

        .score-text {
            font-weight: bold;
            color: $Score-Text;
        }
        .score-designs {
            font-weight: bold;
            color: $rock2;
        }
    }

    .page-one {
        /*border: 2px solid magenta;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 3rem;
        align-items: center;
        flex: 1;
        margin-inline: auto;
        width: min(90%, 50rem);

        .player-area {
            /*border: 2px solid magenta;*/
            position: relative;
        }
        
        .rules-btn {
            padding-inline: 1.5rem;
            padding-block: 1rem;
            font-weight: bold;
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.587);
            color: white;
            border-radius: $borderRadius;
            cursor: pointer;

            &:hover {
                border-color: white;
                color: rgba(255, 255, 255, 0.587);
            }
        }

        .btn-styles {
            border: 15px solid;
            background: white;
            padding: 1.3rem;
            border-radius: 50%;
        }

        .paper-btn {
            padding-block: 0.9rem;
            border-color: $paper1;
            right: 200px;
            top: -15px;
            position: absolute;

            &:hover {
                border-color: $paper2;
            }
        }
        .rock-btn {
            border-color: $rock1;
            top: 165px;
            left: 100px;
            position: absolute;

            &:hover {
                border-color: $rock2;
            }
        }
        .scissors-btn {
            padding-block: 1rem;
            border-color: $scissors1;
            left: 200px;
            top: -15px;
            position: absolute;

            &:hover {
                border-color: $scissors2;
            }
        }
    }

    .page-two {
        /*border: 2px solid red;*/
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .play-area {
        /*border: 2px solid magenta;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 2rem;
        margin-top: 2rem;

        p {
            color: white;
            font-weight: bold;
        }

        .player-container {
            /*border: 2px solid red;*/
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-top: 1rem;
            }
        }
        .computer-container {
            /*border: 2px solid red;*/
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-top: 1rem;
            }
        }
    }

    .win-or-lose-indicator {
        /*border: 2px solid magenta;*/
        margin-top: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .win-or-lose-text {
            color: white;
            font-weight: bold;
            font-size: 4rem;
        }

        .next-round-btn {
            padding-block: 1rem;
            padding-inline: 3.5rem;
            border-radius: $borderRadius;
            font-weight: bold;
            margin-top: 1rem;
            cursor: pointer;

            &:hover {
                background: rgba(255, 255, 255, 0.731);
            }
        }
    }
}

.selected-choice {
    border: 15px solid;
    background: white;
    padding-block: 1rem;
    padding-inline: 1.3rem;
    border-radius: 50%;
}

.paper-style {
    border-color: $paper1;
}
.scissors-style {
    border-color: $scissors1;
}
.rock-style {
    border-color: $rock1;
}