.rules-page {
    /*border: 2px solid magenta;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-block: 5rem;

    .rules-heading {
        font-size: 2rem;
        color: $Header-Outline;
    }

    .rules-close-button {
        padding: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.rules-close-button:hover {
    background: hsla(217, 16%, 45%, 0.158);
    border: 1px solid $Header-Outline;
}